@page
@model ProyectoEnvios.App.Presentacion.Pages.EditarModel

@{
    int idCliente = Model.cliente.Id;
}

<h2>Edición de Datos</h2><br>
<form method="post">
    <input type="hidden" asp-for="cliente.Id" />    
    <div class="form-row">
    <div class="col">
      <label for="nombreCliente">Nombre</label>
      <input type="text" asp-for="cliente.cli_nombre" class="form-control" placeholder="Digite nombre del cliente">
    </div>
    <div class="col">
      <label for="clienteApellidos">Apellidos</label>
      <input type="text" asp-for="cliente.cli_apellidos" class="form-control" placeholder="Digite apellidos del cliente">
    </div>
  </div><br>
  <div class="form-row">
    <div class="col">
      <label for="documentoTipo">Tipo de documento</label>
      <select asp-for="cliente.cli_tipo_documento" class="custom-select mr-sm-2" id="tipoDocumento">
        <option selected>Seleccione tipo de documento...</option>
        <option value="cc">Cédula de ciudadania</option>
        <option value="ce">Cédula de extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="nit">NIT</option>
        <option value="pep">PEP</option>
      </select>
    </div>
    <div class="col">
      <label for="numeroDocumento">Número del documento</label>
      <input type="text" asp-for="cliente.cli_num_documento" class="form-control" placeholder="Digite número del documento">
    </div>
  </div><br>
  <div class="form-group">
    <div>
      <label for="direccionCliente">Dirección</label>
      <input type="text" asp-for="cliente.cli_direccion" class="form-control" placeholder="Digite dirección del cliente">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="emailCliente">Email</label>
      <input type="text" asp-for="cliente.cli_email" class="form-control" placeholder="Digite email completo del cliente">
    </div>
    <div class="col">
      <label for="telefonoCliente">Número de teléfono</label>
      <input type="text" asp-for="cliente.cli_telefono" class="form-control" placeholder="Digite número de teléfono del cliente">
    </div>
  </div><br>
  <div class="alert alert-dark" role="alert">
    ¡Click en el botón "Guardar" para actualizar información del cliente!
  </div>
  <button type="submit" class="btn btn-success">Guardar</button>  
</form>
