@page
@model ProyectoEnvios.App.Presentacion.Pages.InicioModel
@{
}

<form>
  <h2>Datos del cliente</h2><br>
  <div class="form-row">
    <div class="col">
      <label for="clienteNombre">Nombre</label>
      <input type="text" class="form-control" placeholder="Digite nombre del cliente">
    </div>
    <div class="col">
      <label for="clienteApellidos">Apellidos</label>
      <input type="text" class="form-control" placeholder="Digite apellidos del cliente">
    </div>
  </div><br>
  <div class="form-row">
    <div class="col">
      <label for="Tipo de documento">Tipo de documento</label>
      <select class="custom-select mr-sm-2" id="tipoDocumento">
        <option selected>Seleccione tipo de documento...</option>
        <option value="cedulaCiudadania">Cédula de ciudadania</option>
        <option value="cedulaExtranjeria">Cédula de extranjería</option>
        <option value="Pasaporte">Pasaporte</option>
        <option value="nit">NIT</option>
        <option value="pep">PEP</option>
      </select>
    </div>
    <div class="col">
      <label for="numeroDocumento">Número del documento</label>
      <input type="text" class="form-control" placeholder="Digite número del documento">
    </div>
  </div><br>
  <div class="form-group">
    <div>
      <label for="direccionCliente">Dirección</label>
      <input type="text" class="form-control" placeholder="Digite dirección del cliente">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="emailCliente">Email</label>
      <input type="text" class="form-control" placeholder="Digite email completo del cliente">
    </div>
    <div class="col">
      <label for="telefonoCliente">Número de teléfono</label>
      <input type="text" class="form-control" placeholder="Digite número de teléfono del cliente">
    </div>
  </div><br>
  <div class="alert alert-dark" role="alert">
    ¡Click en el botón "Guardar" para guardar información del cliente!
  </div>
  <button type="button" class="btn btn-primary">Guardar</button>
</form>
