@page
@model InicioModel
@{
    ViewData["Title"] = "Inicio";
}

<h1>@ViewData["Title"]</h1>
<strong>Acá va toda la parte de Inicio (Info de Cliente/Envío).</strong>

<form>
    <label for="nombreCliente">Nombre:</label>
    <input type="text" id="nombreCliente" name="nombreCliente"><br>
    <label for="apellidoCliente">Apellido:</label>
    <input type="text" id="apellidoCliente" name="apellidoCliente"><br>
    <select name="tipoDocumento" id="tipoDocumento">
        <option value="Pasaporte">Pasaporte</option>
        <option value="PEP">PEP</option>
        <option value="Cédula de Ciudadania">Cédula de Ciudadania</option>
        <option value="Residencia">Residencia</option>
  </select><br>
    <label for="numDocumento">Número de Documento:</label>
    <input type="text" id="numDocumento" name="numDocumento"><br>
    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion"><br>
    <label for="telefono">Número de teléfono:</label>
    <input type="text" id="telefono" name="telefono"><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <input type="submit" value="Guardar">
</form>